<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Search for foods allowed on the Slow Carb Diet">
    <meta name="author" content="Joe Fearnley">
    <title>Slow Carb Search</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4`.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="content"></div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4><strong>Slow Carb Search</strong></h4>
                    <p><a href="http://jofearnley.com/slow-carb-search">http://jofearnley.com/slow-carb-search</a></p>
                </div>
            </div>
        </div>
    </footer>

    <script id="search-form" type="text/template">
        <div class="text-vertical-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-lg-offset-3">
                        <div class="form-group">
                            <form>
                                <input type="text" name="query" id="query" class="form-control input-large input-food" placeholder="Slow Carb Search">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg7 col-lg-offset-3">
                        <div id="results" class="results">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="results-details" type="text/template">
        <% if(allowed) { %>
        <span class="allowed">
            <strong><span><%- query %></span></strong> is allowed on the Slow Carb Diet
        </span>
        <% } else {  %>
            <span class="not-allowed">
                <strong><span><%- query %></span></strong> is not allowed on the Slow Carb Diet
            </span>
        <% } %>
    </script>

    <script id="login-form" type="text/template">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-5 large-margin-top">
                    <div id="message" class="alert alert-danger hide"></div>
                    <form role="form" class="form" action="/admin/login" method="post">
                        <div class="form-group">
                            <label for="Username"></label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="password"></label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </script>

    <script id="admin" type="text/template">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-10 margin-top">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-10 margin-top">
                            <a href="/#admin/food/add" class="btn btn-dark">Add Food</a>
                            <a href="/#admin/food/list" class="btn btn-dark">List Food</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="food-list" type="text/template">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 large-margin-top align-right margin-bottom">
                    <a href="/#admin/food/add" class="btn btn-dark" data-toggle="tooltip" data-placement="top" title="Add Food">
                        <i class="fa fa-plus"></i>
                    </a>
                    <a href="/#logout" class="btn btn-dark" data-toggle="tooltip" data-placement="top" title="Logout">
                        <i class="fa fa-sign-out"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-10">
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th class="text-center">Allowed In Moderation</th>
                        </tr>
                        <% _.each(foods, function(food) { %>
                        <tr>
                            <td><a href="/#admin/food/edit/<%- food.id %>"><%- food.name %></a></td>
                            <td><%- food.description %></td>
                            <td class="text-center"><%- food.allowed_in_moderation %></td>
                        </tr>
                        <% }); %>
                    </table>
                </div>
            </div>
        </div>
    </script>

    <script id="add-food" type="text/template">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-10 large-margin-top">
                    <form id="add-food-form" role="form" method="post">
                    <input type="hidden" name="id">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input name="name" type="text" id="name" class="form-control" id="name" placeholder="Food">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" name="description" id="description" class="form-control" placeholder="Description">
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="allowed-in-moderation" id="allowed-in-moderation"> Allowed In Moderation?
                            </label>
                        </div>
                    </div>
                        <button type="submit" class="btn btn-dark" data-toggle="tooltip" data-placement="top" title="Save">
                            <i class="fa fa-floppy-o"></i>
                        </button>
                        <button id="cancel-add" class="btn btn-dark margin-left" data-toggle="tooltip" data-placement="top" title="Cancel">
                            <i class="fa fa-times"></i>
                        </button>
                    </form>
            </div>
        </div>
        </div>
    </script>

    <script id="edit-food" type="text/template">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-10 large-margin-top">
                    <form role="form" method="post" action="/admin/food/save">
                        <input type="hidden" name="id" value="<%- food.id %>">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="<%- food.name %>" value="<%- food.name %>">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="description" name="description" placeholder="<%- food.description %>" value="<%- food.description %>">
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="allowed-in-moderation"> Allowed In Moderation on the Slow Carb Diet?
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark" data-toggle="tooltip" data-placement="top" title="Save">
                            <i class="fa fa-floppy-o"></i>
                        </button>
                        <button id="cancel-edit" class="btn btn-dark margin-left" data-toggle="tooltip" data-placement="top" title="Cancel">
                            <i class="fa fa-times"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </script>

    <script src="js/libs/jquery.min.js"></script>
    <script src="js/libs/underscrore-min.js"></script>
    <script src="js/libs/backbone-min.js"></script>
    <script src="js/libs/backbone.routefilter.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.0.3/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.js"></script>
    <script src="js/libs/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>