<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Search for foods allowed on the Slow Carb Diet">
    <meta name="author" content="Joe Fearnley">
    <title>Slow Carb Search</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/stylish-portfolio.css" rel="stylesheet">
    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand"><a href="/">Slow Carb Search</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
        </ul>
    </nav>
    <div id="content">

    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4><strong>Slow Carb Search</strong></h4>
                    <p><a href="http://jofearnley.com/slow-carb-search">http://jofearnley.com/slow-carb-search</a></p>
                </div>
            </div>
        </div>
    </footer>

    <script id="search-form" type="text/template">
        <div class="text-vertical-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-lg-offset-2">
                        <div class="form-group">
                            <form>
                                <input type="text" name="query" id="query" class="form-control input-large input-food" placeholder="Slow Carb Search">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9 col-lg-offset-2">
                        <div id="results" class="results">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script id="results-details" type="text/template">
        <% if(allowed) { %>
            <strong><span><%- query %></span></strong> is allowed on the Slow Carb Diet
        <% } else {  %>
            <strong><span><%- query %></span></strong> is not allowed on the Slow Carb Diet
        <% } %>
    </script>

    <script id="login-form" type="text/template">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-5 large-margin-top">
                    <div id="message" class="alert alert-danger hide"></div>
                    <form role="form" class="form" action="/admin/login" method="post">
                        <div class="form-group">
                            <label for="Username"></label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="password"></label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </form>
                </div>
                <div class="col-md-offset-3 col-md-4">
                </div>
            </div>
            </div>
    </script>

    <script src="js/libs/jquery.min.js"></script>
    <script src="js/libs/underscrore-min.js"></script>
    <script src="js/libs/backbone-min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.0.3/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.js"></script>
    <script src="js/libs/bootstrap.min.js"></script>
    <script src="js/slowcarbsearch.js"></script>
    <script src="js/app.js"></script>
</body>
</html>