body {
    min-height: 2000px;
    padding-top: 70px;
}

.input-large {
    height: 60px !important;
    margin-bottom: 10px !important;
    line-height: 30px !important;
    padding: 11px 19px !important;
    font-size: 30px !important;
}

form.login {
    width: 30%;
}

.error {
    color: red;
}

.text-center {
    text-align: center;
}

.food-saved {
    color: green;
    margin-bottom: 20px;
}

.searchform {
    margin-top: 40px;
    margin-bottom: 50px;
}