<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Search for foods allowed on the Slow Carb Diet">
    <meta name="author" content="Joe Fearnley">
    <title>Slow Carb Search</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4`.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="content">
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4><strong>Slow Carb Search</strong></h4>
                <p><a href="http://jofearnley.com/slow-carb-search">http://jofearnley.com/slow-carb-search</a></p>
            </div>
        </div>
    </div>
</footer>

<script id="login-form-template" type="text/x-handlebars-template">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-5 large-margin-top">
                <div id="message" class="alert alert-danger hide"></div>
                <form role="form" id="login-form" class="form">
                    <div class="form-group">
                        <label for="Username"></label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="password"></label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-dark">Submit</button>
                </form>
            </div>
        </div>
    </div>
</script>

<script id="loading-list-template" type="text/x-handlebars-template">
    <div class="container">
        <div class="row">
            <div id="form" class="col-md-offset-4 col-md-5 large-margin-top">
                <div class="text-center">Loading Food List</div>
                <h1>
                    <i class="fa fa-cog fa-spin"></i>
                </h1>
            </div>
        </div>
    </div>
</script>

<script id="food-list-template" type="text/x-handlebars-template">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 large-margin-top align-right margin-bottom">
                <a href="/add" id="add-food" class="btn btn-dark" data-toggle="tooltip" data-placement="top" title="Add Food">
                    <i class="fa fa-plus"></i>
                </a>
                <a href="/logout" id="logout" class="btn btn-dark" data-toggle="tooltip" data-placement="top" title="Logout">
                    <i class="fa fa-sign-out"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-10">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th class="text-center">Allowed In Moderation</th>
                    </tr>
                    <% _.each(foods, function(food) { %>
                    <tr>
                        <td><a href="/edit/{{food.id}}">{{food.name}}</a></td>
                        <td>{{food.description}}</td>
                        <td class="text-center"><{{food.allowed_in_moderation}}</td>
                    </tr>
                    <% }); %>
                </table>
            </div>
        </div>
    </div>
</script>

<script id="add-food-template" type="text/x-handlebars-template">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-10 large-margin-top">
                <form id="add-food-form" role="form" method="post">
                    <input type="hidden" name="id">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input name="name" type="text" id="name" class="form-control" id="name" placeholder="Food">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" name="description" id="description" class="form-control" placeholder="Description">
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="allowed-in-moderation" id="allowed-in-moderation"> Allowed In Moderation?
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark" data-toggle="tooltip" data-placement="top" title="Save">
                        <i class="fa fa-floppy-o"></i>
                    </button>
                    <button id="cancel-add" class="btn btn-dark margin-left" data-toggle="tooltip" data-placement="top" title="Cancel">
                        <i class="fa fa-times"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</script>

<script id="edit-food-template" type="text/x-handlebars-template">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-10 large-margin-top">
                <form role="form" method="post" action="/admin/food/save">
                    <input type="hidden" name="id" value="<%- food.id %>">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="<%- food.name %>" value="<%- food.name %>">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" name="description" placeholder="<%- food.description %>" value="<%- food.description %>">
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="allowed-in-moderation"> Allowed In Moderation on the Slow Carb Diet?
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark" data-toggle="tooltip" data-placement="top" title="Save">
                        <i class="fa fa-floppy-o"></i>
                    </button>
                    <button id="cancel-edit" class="btn btn-dark margin-left" data-toggle="tooltip" data-placement="top" title="Cancel">
                        <i class="fa fa-times"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="../js/admin.js"></script>
</body>
</html>